#root {
  /* max-width: 1280px; */
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.flex.column {
  flex-direction: column;
}
.flex.space-b {
  justify-content: space-between;
}
.header {
  width: 100vw;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  height: var(--height-header);
  padding: var(--padding);
  justify-content: space-between;
}
.icon {
  width: max-content;
  height: calc(var(--height-header) * 0.6);
}
.menu-destok {
  display: none;
}
.nav {
  background-color: var(--color-shadow);
} 
nav ul a {
  color: var(--color-white);
  position: relative;
  padding: .25rem ;
  transition: color .5s ease;
}
nav ul a:hover {
  color: var(--color-contrast);
  font-weight: 600;
}
nav a:not(.notsub)::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--color-contrast);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
nav a:hover::after {
  width: 100%;
}
nav a.active-link {
  color: var(--color-contrast);
  font-weight: 800;
}
nav i {
  margin-right: .3rem;
}
.btn-nav-menu {
  background-color: transparent;
  color: var(--color-white);
}
.menu-mobile {
  position: absolute;
  top: var(--height-header);
  left: 0;
  transition: all 0.3s ease-out;
  z-index: 110;
  box-shadow: 0 18px 18px var(--color-shadow);
}
.menu-mobile ul {
  flex-direction: column;
  width: 100vw;
  padding: 2rem;
}
.hero {
  background: var(--color-light) url('./assets/bg-main-mobile.png');
  background-size: cover;
  width: 100vw;
  padding-bottom: 10vh;
  text-align: center;
  overflow-x: hidden;
  font-weight: 600;
  justify-content: end;
}
.text-outline {
  font-weight: bolder;
  color: var(--color-white); 
  -webkit-text-stroke: 2px var(--color-primary);
}
.hero h1 {
  font-size: 2.8rem;
  margin: 5vh auto;
}
.hero img {
  float: right;
  width: 80%;
}
.hero p {
  background-color: var(--color-light);
  padding: var(--padding);
  border-radius: 18px 0 ;
  box-shadow: 5px 5px 15px var(--color-shadow);
}
.btn-hero {
  position: absolute;
  top: 68%;
  left: 20%;
  z-index: 100;
  width: clamp(25vw, 80%, 140px);
}
.footer {
  background-color: var(--color-primary);
  padding: var(--padding);
  text-align: center;
  color: var(--color-white);
  font-weight: bold;
}


.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-secondary)
}

.btn {
  cursor: pointer;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  background: var(--color-gradient);
  border: 1px solid var(--color-secondary);
  margin: 1rem auto ;
  padding: var(--padding);
  border-radius: .8rem;
  box-shadow:  2px 2px 5px 0 var(--color-shadow),
  inset -2px -2px 5px var(--color-light);
  transition: all .3s ease;
}
.btn:hover {
  background: var(--color-white);
  border: 1px solid var(--color-ghost);
  box-shadow: inset 1px 1px 5px 0 var(--color-shadow);
}
.btn-out {
  background: var(--color-light);
}
.btn-login:hover {
  background: transparent;
  border: 1px solid var(--color-ghost);
  box-shadow: inset 1px 1px 5px 0 var(--color-ghost);
}
.btn-back {
      display: block;
      width: clamp(80px, 30vh, 120px);
      text-align: center;
  }
.btn100 {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
}


.line-clamp {
  display: -webkit-box;        
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  
  line-clamp: 3;    
  overflow: hidden;            
  text-overflow: ellipsis;    
  white-space: normal;
}








@keyframes fade-in {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in .3s ease-out;
}





@media (min-width: 700px) {
  .header div.flex {
    gap: 4px;
  }
  .btn-nav-menu {
    display: none;
  }
  .menu-destok {
    display: block;
  }
  .menu-destok ul {
    gap: .2rem;
  }
  .menu-destok ul a{
    padding: .3rem;
  }
  .count-cart-nav {
    background-color: var(--color-ghost);
    color: var(--color-white);
    font-size: medium;
    position: absolute;
    bottom: -4px;
    right: 4px;
    border-radius: 4px;
    padding: 4px;
  }
  .hero {
  background: var(--color-light) url('./assets/bg-main.png') no-repeat center;
  background-size: cover;
  min-height: 80vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  }
  .hero img {
    width: 30%;
    align-self: end;
    margin-right: 5vw;
  }
  .hero p {
    width: max-content;
    align-self: center;
  }
  .containerDetailProd{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr)  1fr;
    grid-column-gap: 1rem;
    width: 80vw;
    min-height: 80vh;
    margin: auto;
    padding: 1rem;
    }

  .detail-title { grid-area: 1 / 1 / 2 / 5 }
  .detail-det { 
      grid-area: 2 / 3 / 3 / 5 ;
      flex-direction: column;
      align-items: start;
  }
  .detail-img { 
      grid-area: 2 / 1 / 5 / 3;
      width: 40vw;
      max-height: 60vh;
  }
  .detail-btn-return { grid-area: 4 / 4 / 5 / 5 }
  .detail-desc { grid-area: 3 / 3 / 4 / 5 }

  
}