#root {
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex.column {
  flex-direction: column;
}
.flex.space-b {
  justify-content: space-between;
}
.font-title {
  font-family: var(--font-cursive);
  font-size: 1.2rem;
  text-align: center;
}
.title {
  font-family: var(--font-title);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--color-main)
}
.highlight {
  color: var(--color-main);
  font-size: larger;
  font-weight: 700;
  font-style: italic;
  text-shadow:
    -1px -1px 0 var(--color-primary),
    1px -1px 0 var(--color-primary),
    -1px 1px 0 var(--color-primary),
    1px 1px 0 var(--color-primary);
  letter-spacing: 1px;
}
.botonera{
  display: flex;
  gap: 1rem;
}
.line-clamp {
  display: -webkit-box;        
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  
  line-clamp: 3;    
  overflow: hidden;            
  text-overflow: ellipsis;    
  white-space: normal;
}
.required, .error {
  color: var(--color-danger)
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.form-field input, .form-field select, .form-field textarea {
  border: 1px solid var(--color-light);
  border-radius: .8rem;
  padding:.3rem .8rem;
  min-height:2.5rem;
  width: 100%;
}
.form-field input.error, .form-field textarea.error {
  border-bottom: 2px solid var(--color-danger);
}
.form-field input.valid {
  background-color: var(--color-white);
}



