@font-face {
  font-family: "FontLocal";
  src: url("./assets/font/Alkatra-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

:root {
  font-family: 'Nunito', sans-serif;
  color: var(--color-white);
  background-color: var(--color-black);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  --font-cursive: "FontLocal", system-ui;

  --height-header: 12vh;
  --padding: .5rem 1rem;
  --border-radius: .8rem;

  --color-white :  #fdfdfd;
  --color-black: #0c0c0c;

  --color-primary: #673200;
  --color-secondary: #ffe0bf; 
  --color-dark: #381a08;
  --color-main: #ff8522;

  --color-gradient: linear-gradient(45deg, #381a08 0%, #673200 28%, #ffe0bf 100%);

  --color-light: #ffe9d0e8; 
  --color-ghost: #b2896bee; 
  --color-shadow: #7d59419f;

  --color-success: #003800; 
  --color-danger: #ce0000;
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-ghost) var(--color-light);
}
section {
  padding: 5vh 8vw;
}
body, main {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  border : none;
  cursor: pointer;
  color: inherit;
  background: transparent;
}
img {
  object-fit: cover;
}
/* === Scrollbar global  === */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-light);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gradient); 
  border-radius: 1rem;
  border: 1px solid var(--color-white);
} 
@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
    opacity: .3;
  }
  40% {
    transform: translateY(-8px);
    opacity: 1;
  }
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in .3s ease-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-black);
    background-color: #fdfdfd;
  }
}
